<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Here's your phrase Pig Latinized:</h1>
    <p>
      <%= @pig_latinized %>
    </p>
  </body>
</html>