<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="Post" action="/piglatinize">
    <div class="form-field">
    <label for="user_phase">Enter your phrase:</label>
    <textarea name="user_phrase"></textarea>
    <br></div>
    <button type="submit" value="submit">Submit</button>
   </form>
  </body>
</html>